# Base style
BasedOnStyle: LLVM

# Indentation
IndentWidth: 8
TabWidth: 8
UseTab: Never
ContinuationIndentWidth: 16

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Control statements
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: true

# Spacing
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyBlock: false

# Pointer alignment
PointerAlignment: Right
DerivePointerAlignment: false

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignOperands: true
AlignAfterOpenBracket: Align

# Switch / case
IndentCaseLabels: false
IndentCaseBlocks: true

# Line breaking
ColumnLimit: 80
BreakStringLiterals: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakAfterJavaFieldAnnotations: false

# Function declarations
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false

# Initializers
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true

# Includes
SortIncludes: false
IncludeBlocks: Preserve

# Macros
IndentPPDirectives: None
MacroBlockBegin: ""
MacroBlockEnd: ""

# Preprocessor
SpacesBeforeTrailingComments: 1

# Misc
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true